@import "tailwindcss";

@layer base {
  html,
  body {
    @apply antialiased;
    background-color: #35408e;
    color: white;
  }

  body {
    font-family: "Inter", sans-serif !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

  #root {
    @apply min-h-screen;
  }
}
